





.mainCard{
    max-width: 22.5rem;
    min-width: 20rem;
    /* outline: 2px solid lime !important; */
    position: relative;
    z-index: 2;
    border-radius: var(--border-radius);
    margin-top: 25rem;
    -webkit-border-radius: var(--border-radius);
    -moz-border-radius: var(--border-radius);
    -ms-border-radius: var(--border-radius);
    -o-border-radius: var(--border-radius);
    background-color: #ffffff;

    /* Add in some subtle shadow here  */
    -webkit-box-shadow: 1px 1px 8px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 1px 8px -3px rgba(0,0,0,0.75);
box-shadow: 1px 1px 8px -3px rgba(0,0,0,0.75);

overflow: hidden !important;

}







.image{
    
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);


    max-height: 225px;
    min-height: 225px;

}

/* Left Padding for text Element */
/* 2.063rem */
.textSection{

margin-left: 2.063rem;

width: 81%; 

margin-top: 1.563rem; 

padding-bottom: 30px;


}

.cardHeader{



    /* Clamp this later */
    font-size: 24px;
    font-weight: 500; 



}

































































